# Laravel
/vendor
/node_modules
/storage/*.key
.env

# WhatsApp session
whatsapp-server/.wwebjs_auth/
whatsapp-server/auth_info/
whatsapp-server/node_modules/
/whatsapp-server
# OS
.DS_Store
Thumbs.db
